body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    font-family: 'PT Sans', sans-serif;
    max-width: 100%;
}

header {
    color: black;
    text-align: center;
    padding: 1em;
}

/*----- BODY y TARJETAS ------*/
.introduccion {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    padding: 2em;
    margin: 2em;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-self: center;
    width: 80%;
}

.introduccion-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1em;
    display: flex;
    justify-content: center;
}

.boton-facebook {
    margin-top: 20px; /* Espacio superior para separar el botón del contenido anterior */
}

.huellitas{
    font-weight: bold;
}

button {
    padding: 10px 15px;
    background-color: #3b5998; /* Color de Facebook */
    color: #fff; /* Texto en color blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #324c80; /* Cambia el color al pasar el mouse sobre el botón */
}


.veterinarias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1em;
    
}

.veterinaria {
    grid-template-columns: 8px auto 8px;
    grid-template-rows: 8px auto 12px;  
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 3em;
    margin-left: 1.5em;
    border-radius: 10px;
    background-color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
    background-blend-mode: screen, overlay;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
    transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0.3s ease;
    z-index: 1;
}

.veterinaria-fix {
    grid-template-columns: 8px auto 8px;
    grid-template-rows: 8px auto 12px;  
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 4em;
    margin-left: 1.5em;
    border-radius: 10px;
    background-color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
    background-blend-mode: screen, overlay;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0.3s ease;
    z-index: 1;
}

.veterinaria:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.veterinaria-fix:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.veterinaria-zoonosis{
    grid-template-columns: 8px auto 8px;
    grid-template-rows: 8px auto 12px;  
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 3em;
    margin-left: 1.5em;
    border-radius: 10px;
    background-color: #96C2FE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;  
}

.veterinaria-zoonosis:hover{
    transform: translateY(-6px);
    box-shadow: 0 4px 6px rgb(0,0,0,1);
}

.maps{
    font-weight: bold;
    text-decoration: none;
    color: #0408d3;
}

.domicilio{
    font-weight: bold;
}

.telefono{
    font-weight: bold;
}

.facebook{
    font-weight: bold;
    text-decoration: none;
    color: #0408d3;
}

.facebook:hover{
    color: black;
}

.maps:hover{
    color: black;
}

a.wp{
    text-decoration: none;
    color: #063e9d;
}

/*Para posicionar los link de las tarjetas a cada lado*/
.izq{
    float: left;
}

.der{
    float: right;
}

/*----- VETERINARIAS TURNO-----*/

.veterinaria-turno {
    background-color: #f9f9f9;
    padding: 1em;
    margin-top: 2em;
    border-top: 1px solid #ccc;
    text-align: center; /* Centrar el contenido horizontalmente */
}

.veterinaria-turno h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.veterinaria-turno-info { 
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1.5%;
    border-radius: 10px;
    background-color: #F35C4B;
    display: inline-block; /* Para ajustar el tamaño al contenido */
    text-align: left; /* Alinear el contenido a la izquierda */

    /* Añadir un tamaño máximo y centrar horizontalmente */
    max-width: 100%; /* Ajusta según necesites */
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para los enlaces de mapa y Facebook */
.veterinaria-turno-info a {
    display: block;
    margin-top: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #0408d3;
}

.veterinaria-turno-info a:hover {
    color: black;
}


.der-fix{
    text-align: right;
}

/* ------ BARRA NAV ------*/
.navbar {
    padding: 1em;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    margin-right: 1em;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f39c12;
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -3em;
  }

.navbar-logo img{
    display: inline-block;
    margin-right: 70px;
}



/*------- FILTRO ------*/
.filtro {
    margin: 2em;
}

.filtro label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    
}

.filtro input {
    width: 30%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

/*------ FOOTER ------*/
footer {
    background-color: #222;
    color: white;
    padding: 2em 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0.5em;
}

.p-footer{
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

.mailto{
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.mailto:hover{
    color: #f39c12;
}

.marca{
    float: right;
    padding-right: 1em;
    font-weight: bold;
    font-size: small;
}

.marca:hover{
    color: #f39c12;
}

/* Media Query para dispositivos pequeños (como teléfonos) */
@media screen and (max-width: 480px) {
    /* Agrega aquí tus ajustes de estilo para pantallas pequeñas */
    .introduccion {
        width: 90%; /* Ejemplo de ajuste en el ancho */
    }
    
    .veterinaria, .veterinaria-fix {
        width: 90%; /* Ejemplo de ajuste en el ancho */
        margin-left: 5%; /* Centrar horizontalmente */
        margin-right: 5%; /* Centrar horizontalmente */
    }

    /* Otros ajustes para pantallas pequeñas */
}

/* Media Query para tabletas y pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    /* Agrega aquí tus ajustes de estilo para tabletas y pantallas medianas */
    .introduccion {
        width: 70%; /* Ejemplo de ajuste en el ancho */
    }
    
    .veterinaria, .veterinaria-fix {
        width: 45%; /* Ejemplo de ajuste en el ancho */
        margin-left: 2.5%; /* Centrar horizontalmente */
        margin-right: 2.5%; /* Centrar horizontalmente */
    }

    /* Otros ajustes para tabletas y pantallas medianas */
}


/* Media Query para dispositivos pequeños (como teléfonos) */
@media screen and (max-width: 480px) {
    /* Ajustes para el logo en pantallas pequeñas */
    .navbar-logo {
        text-align: center; /* Centrar el contenido horizontalmente */
        margin-bottom: 1em;
    }

    .navbar-logo img {
        max-width: 70%; /* Ajusta el tamaño del logo */
        display: block;
        margin: 0 auto; /* Centrar horizontalmente */
    }

    /* Ajustes para el filtro por nombre en pantallas pequeñas */
    .filtro input {
        width: 100%; /* Ancho completo para el filtro */
    }
}

/* Media Query para tabletas y pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    /* Ajustes para el logo en tabletas y pantallas medianas */
    .navbar-logo {
        text-align: center; /* Centrar el contenido horizontalmente */
        margin-bottom: 1em;
    }

    .navbar-logo img {
        max-width: 60%; /* Ajusta el tamaño del logo */
        display: block;
        margin: 0 auto; /* Centrar horizontalmente */
    }

    /* Ajustes para el filtro por nombre en tabletas y pantallas medianas */
    .filtro input {
        width: 70%; /* Ancho ajustado para el filtro */
    }
}

/* Media Query para pantallas grandes */
@media screen and (min-width: 1025px) {
    /* Mantener el tamaño del logo y del filtro por nombre en pantallas grandes */
}




/*
Estilos para el formulario de Testimonio 
.testimonio-formulario h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#mostrar-formulario {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

#formulario-testimonio {
    display: none;
    margin-top: 1em;
}

/* Mostrar el formulario al aplicar la clase .mostrar 
#formulario-testimonio.mostrar {
    display: block;
}


/* Estilos para la sección de Testimonios 
.testimonios {
    padding: 2em;
    background-color: #f9f9f9;
    text-align: center;
}

.testimonios h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.testimonio {
    background-color: #CDDCDC;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonio-texto {
    font-style: italic;
    margin-bottom: 0.5em;
}

.testimonio-autor {
    font-weight: bold;
}
*/